.input-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
        width: 100%;
    }
}

.input-group__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}